<template>
    <div>
        <ul>
            <li v-for="name in list">{{ name }}</li>
        </ul>    
    </div>
</template>

<script>
export default {
    name: 'Index',
    data() {
        return {
          list: ['Lucas', 'Marcos', 'Dani']
        }
    }
}
</script>