<template>
    <form class="ls-form ls-form-horizontal" data-ls-module="form" @submit.prevent="validate">
        <h1 class="ls-title-intro ls-ico-user">Cadastrar Pessoa</h1>

        <div class="ls-clearfix"></div>

        <div class="col-md-10">
            <div class="row">
            <fieldset class="ls-box col-md-12">
                <label for="name" class="ls-label" :class="{'ls-error': errors.has('nome') }">
                    <b class="ls-label-text">Nome</b>
                    <input type="text" name="nome" v-model="person.nome" v-validate="'required'" placeholder="Nome e Sobrenome" />
                    <small class="ls-help-message" v-show="errors.has('nome')">{{ errors.first('nome') }}</small>
                </label>
                <label for="salario" class="ls-label">
                  <b class="ls-label-text">Salário</b>
                  <input type="text" class="ls-mask-money" name="salario" v-model="person.salario" required />
                </label>
            </fieldset>
            </div>
        </div>

        <div class="ls-clearfix"></div>

        <div class="ls-actions-btn">
            <button class="ls-btn" type="submit">Salvar</button>
        </div>

    </form>
</template>

<script>
import ptBr from 'vee-validate/dist/locale/pt_BR'
export default {
  name: 'New',
  data() {
    return {
      person: {
        nome: '',
        salario: null,
      },
      locale: 'pt-br'
    }
  },
  methods: {
    async validate() {

      this.$validator.localize('pt-br', {messages: ptBr.messages})
      let validateRet = await this.$validator.validateAll()
      console.log(this.person)
      return validateRet
    },
    submit() {
      console.log(this.person)
    }
  }
}
</script>
