<template>
    <div class="ls-topbar ls-txt-center">
        <span class="ls-show-sidebar ls-ico-menu"></span>
        <!-- Nome do produto/marca com sidebar -->
        <h1 class="ls-brand-name">
            <a href="/" class="ls-ico-earth">
              <small>Administrador</small>
              WikiDados
            </a>
        </h1>
        <!-- Nome do produto/marca sem sidebar quando for o pre-painel  -->
    </div>
</template>
