<template>
    <aside class="ls-sidebar">
        <nav class="ls-menu">
            <ul>
                <li>
                  <a href="#" class="ls-ico-user">Pessoas</a>
                  <ul>
                    <li>Listar</li>
                    <li>Cadastrar</li>
                  </ul>
                </li>
            </ul>
        </nav>
    </aside>
</template>
