<template>
  <main class="ls-main">
    <Header></Header>
    <Sidebar></Sidebar>
    <div class="container-fluid">
      <router-view/>
    </div>
  </main>
    <!-- <img src="~/locawebstyle/dist/images/banner-example.png"> -->
</template>

<script>
import Header from '@/components/Header.vue'
import Sidebar from '@/components/Sidebar.vue'
export default {
  components: {Header, Sidebar},
  name: 'App'
}
</script>

<style>
@import "locawebstyle/dist/stylesheets/locastyle.css";

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
